body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.navbar {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    background-color:#A31621;
    line-height: 1.6em;
    font-size: 20px;
    text-shadow: none;
}
.navbar a {
    display: inline-block;
    color:#FCF7F8;
    padding: 15px 17px;
    text-decoration: none;
    text-align: left;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.navbar a:hover {
    color:goldenrod;
    /*border: 1px solid #888;*/
    background-color: #ddd;
}
.button {
    background-color:rebeccapurple;
}