body{
    margin: 0px;
    padding: 0px;
}
.navbar {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    background-color:rgb(196, 3, 3);
    line-height: 1.6em;
}
.navbar a {
    display: inline-block;
    color: rgb(213, 252, 255);
    padding: 15px 17px;
    text-decoration: none;
    text-align: left;
}
.navbar a:hover {
    color:goldenrod;
}
.button {
    background-color:rebeccapurple;
}