.body {
    margin:0;
    padding:0;
}
.navbar {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    /*background-color:#A31621;*/
    line-height: 1em;
    font-size: 20px;
    text-shadow: none;
}
.navbar a {
    display: inline;
    color:#FCF7F8;
    padding: 15px 17px;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    float: left;
}
.navbar a:hover {
    color:#032544;
    /*border: 1px solid #888;*/
    background-color: #FCF7F8;
    border-radius: 4px;
}