/* body {
    background-color:#032544;
    color: white;
    text-shadow:2px 2px 4px black;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
} */

/* div {
    margin-top: 20px;
} */

.snowflake {
    color: #fff;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 2px #000;
}  
@-webkit-keyframes snowflakes-fall{
    0%{
        top:-10%
    }
    100%{
        top:100%
    }
}
@-webkit-keyframes snowflakes-shake{
    0%,100%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    50%{
        -webkit-transform:translateX(80px);
        transform:translateX(80px)
    }
}
@keyframes snowflakes-fall{
    0%{
        top:-10%
    }
    100%{
        top:100%
    }
}
@keyframes snowflakes-shake{
    0%,100%{
        transform:translateX(0)
    }
    50%{
        transform:translateX(80px)
    }
}.snowflake{
    position:fixed;
    top:-10%;
    z-index:-9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running
}.snowflake:nth-of-type(0){
    left:1%;
    -webkit-animation-delay:0s,0s;
    animation-delay:0s,0s
}.snowflake:nth-of-type(1){
    left:10%;
    -webkit-animation-delay:0.5s,1s;
    animation-delay:1s,1s
}.snowflake:nth-of-type(2){
    left:20%;
    -webkit-animation-delay:3s,.25s;
    animation-delay:6s,.5s
}.snowflake:nth-of-type(3){
    left:30%;
    -webkit-animation-delay:4s,1s;
    animation-delay:4s,2s
}.snowflake:nth-of-type(4){
    left:40%;
    -webkit-animation-delay:1s,1s;
    animation-delay:2s,2s
}.snowflake:nth-of-type(5){
    left:50%;
    -webkit-animation-delay:3s,1.5s;
    animation-delay:8s,3s
}.snowflake:nth-of-type(6){
    left:60%;
    -webkit-animation-delay:6s,1s;
    animation-delay:6s,2s
}.snowflake:nth-of-type(7){
    left:70%;
    -webkit-animation-delay:1.25s,.5s;
    animation-delay:3s,1s
}.snowflake:nth-of-type(8){
    left:80%;
    -webkit-animation-delay:.5s,0s;
    animation-delay:.5s,0s
}.snowflake:nth-of-type(9){
    left:90%;
    -webkit-animation-delay:0.5s,.75s;
    animation-delay:3s,1.5s
}.snowflake:nth-of-type(10){
    left:25%;
    -webkit-animation-delay:1s,0s;
    animation-delay:2s,0s
}.snowflake:nth-of-type(11){
    left:65%;
    -webkit-animation-delay:2s,1.25s;
    animation-delay:4s,2.5s
}.snowflake:nth-of-type(12){
    left:20%;
    -webkit-animation-delay:5s,0s;
    animation-delay:3s,0.5s
}.snowflake:nth-of-type(13){
    left:70%;
    -webkit-animation-delay:1s,3s;
    animation-delay:8s,2.5s
}.snowflake:nth-of-type(14){
    left:45%;
    -webkit-animation-delay:0.5s,1.25s;
    animation-delay:1.5s,1.5s
}.snowflake:nth-of-type(15){
    left:15%;
    -webkit-animation-delay:2s,3s;
    animation-delay:0s,3s
}.snowflake:nth-of-type(16){
    left:45%;
    -webkit-animation-delay:2.5s,6s;
    animation-delay:1s,1s
}.snowflake:nth-of-type(17){
    left:25%;
    -webkit-animation-delay:2s,2s;
    animation-delay:0s,1.5s
}.snowflake:nth-of-type(18){
    left:15%;
    -webkit-animation-delay:3s,1.25s;
    animation-delay:1.25s,2.5s
}.snowflake:nth-of-type(19){
    left:65%;
    -webkit-animation-delay:5s,2.5s;
    animation-delay:3s,3s
}

.ReactModal__Content--after-open {
    position: 'fixed';
    border-radius: 50px;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    text-align: center;
    color: #032544;
    /* opacity: 1; */
}

.ReactModal__Overlay {
    opacity: 1;
    transition: opacity 5s ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 0;
}

 .ReactModal__Overlay--before-close{
    /* transition: opacity 3s ease-in-out;*/
    opacity: 1;
}

#instructions {
    margin: 0 auto;
    width: 80%;
    line-height: 1.5em;
    font-weight: normal;
}

#gift {
    max-width: 250px;
    max-height: 250px;
    display: inline-block;
}

#gift:hover {
    animation: up_down 500ms ease infinite;
    position: relative;
}

@keyframes up_down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    } 
} 

#mainTitle {
    display: inline-block;
    font-size: 40px;
    line-height: 0.5em;
    text-transform: none;
    margin-bottom: 20px;
    margin-top: 0;
    animation: enlarge 1s ease forwards;
}

.pop {
    display: inline;
}

@keyframes enlarge{
    100%  {
      transform: scale(2.5);
    }
}

#mainSubtitle {
    font-size: 30px;
    margin-top: 40px;
    opacity: 0;
    
    animation: down 1s ease forwards;
    animation-delay: 0.25s;
}

/* #mainSubtitle:hover{
    /*animation: fadeIn ease 10s;
    animation: fall-in 1s ease forwards;
} */

@keyframes down {
    0% {
        transform: translateY(-400px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
} 

.content {
    margin: 0;
}
