body {
    background-color:#FCF7F8;
    color: #4E8098;
}
#gift {
    max-width: 300px;
    max-height: 300px;
    display: inline-block;
}

#gift:hover {
    animation: up_down 500ms ease infinite;
    position: relative;
}
@keyframes up_down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    } 
} 
.title {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 0.5em;
}
.subtitle {
    font-size: 30px;
    margin-top: 20px;
}