.presentImage {
    max-width: 300px;
    max-height: 300px;
    display: inline-block;
}

.presentImage #nostar:hover {
    opacity: 0.7;
}

.presentImage #star:hover {
    cursor: none;
}

.content {
    margin-top: 20px;
}

/* div #star{
    background-color: black;
} */