/* .present{
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;
    background-color: black;
} */
body {
    background-color:#032544;
}
.presentImage {
    max-width: 250px;
    max-height: 250px;
    display: inline-block;
    /*border: 5px solid snow;*/
    margin-bottom: 25px;
    margin-top: 25px;
}

#noStar:hover {
    opacity: 0.7;
}

#star:hover,
#socks:hover {
    cursor: initial;
}

 .content {
    margin-top: 25px;
} 

#goBack {
    margin-top: 20px;
    overflow: hidden;
    width: 25%;
    background-color:#A31621;
    line-height: 1.2em;
    font-size: 20px;
    display: inline-block;
    color:#FCF7F8;
    padding: 15px 17px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    text-shadow: none;
}

#goBack span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#goBack span:after {
    content: '\00bb';
    text-size-adjust: auto;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#goBack:hover span {
    padding-right: 25px;
}
  
#goBack:hover span:after {
    opacity: 1;
    right: 0;
}

/* div #star{
    background-color: black;
} */