body {
    /*background-color:magenta;*/
    background-color:#032544;
    color: white;
    text-shadow:2px 2px 4px black;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.theme-switch-wrapper {
    align-items: center;
    float: right;
    margin: 10px 10px 0px 0px;
} 
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #4775a0;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

 .dark {
    background-color:#032544;
    color: snow;
}

.light {
    background-color:snow;
    color:#032544
}

