body {
    text-shadow: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.theme-switch-wrapper {
    align-items: center;
    float: right;
    margin: 10px 10px 0px 0px;
} 
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #4775a0;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

 .dark {
    background-color:#032544;
    color: #FCF7F8;
    background-image: url(../../images/background_dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 800px;
    /* width: 100%;
    height: 100px;   */
}

.light {
    background-color:#FCF7F8;
    color:#032544;
    text-shadow: -1px 1px 2px #FCF7F8,
				  1px 1px 2px #FCF7F8,
				  1px -1px 0 #FCF7F8,
				  -1px -1px 0 #FCF7F8;
    font-weight: bold;
    background-image: url(../../images/background_light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 800px;
    /* width: 100%;
    height: 100px; */
}

